<div class="container">
    
    <!-- Province -------------------------------------------------------------------------------------------------------------------->
    <div class="card mt-5 ">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <label class="label-form fs-4"> จังหวัด </label>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#provinceId</th>
                        <th scope="col">provinceName</th>
                        <th scope="col">แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let province of provinceList">
                        <th scope="row">{{province.provinceId}}</th>
                        <td>{{province.provinceName}}</td>
                        <td><a [routerLink]="['/springboot/request-get/province/edit/' + province.provinceId]">แก้ไข</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- District --------------------------------------------------------------------------------------------------------------------->
    <div class="card mt-5">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <label class="label-form fs-4"> อำเภอ </label>
                </div>
                <div class=" offset-4 col-4 mt-1">
                    <div class="row">
                        <div class="col-9">
                            <input type="number" class="form-control" style="height: 30px" placeholder="Province ID" #proID_input>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-sm btn-primary w-100" (click)="filterDisByPro(proID_input.value)"> ค้นหา
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#districtId</th>
                        <th scope="col">districtName</th>
                        <th scope="col">provinceId</th>
                        <th scope="col">แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let district of districtList">
                        <th scope="row">{{district.districtId}}</th>
                        <td>{{district.districtName}}</td>
                        <td>{{district.province.provinceName}}</td>
                        <td><a [routerLink]="['/address/country/edit/' + '']">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Sub District ---------------------------------------------------------------------------------------------------------------->
    <div class="card mt-5">
        <div class="card-header">
            <label class="label-form fs-4"> ตำบล </label>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#sub_districtId</th>
                        <th scope="col">sub_districtName</th>
                        <th scope="col">district</th>
                        <th scope="col">province</th>
                        <th scope="col">แก้ไข</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sub_district of sub_districtList">
                        <th scope="row">{{sub_district.subdistrictId}}</th>
                        <td>{{sub_district.subdistrictName}}</td>
                        <td>{{sub_district.district.districtName}}</td>
                        <td>{{sub_district.district.province.provinceName}}</td>
                        <td><a [routerLink]="['/address/country/edit/' + '']">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>