<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <div class="card">
                <form [formGroup]="formData" (ngSubmit)="save()" #formAdd="ngForm">
                    <div class="card-header">
                        <label class="col-form-label"><b>เพิ่ม/แก้ไข คลังสินค้า</b> </label>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <!-- Barcode --------------------------------------------------------------------------->
                            <div class="col-4">
                                <label class="form-label">Barcode</label>
                                <input type="text" class="form-control" formControlName="barcode"
                                    [readOnly]="barcode?true:false"
                                    [ngClass]="{'is-invalid': formAdd.submitted && formData.get('barcode')?.errors}">
                                <div class="invalid-feedback"
                                    *ngIf="formAdd.submitted && formData.get('barcode')?.hasError('required')">
                                    กรุณาป้อนข้อมูล
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="formAdd.submitted && formData.get('barcode')?.hasError('minlength')">
                                    ป้อนข้อมูล 3 ตัวขึ้นไป
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="formAdd.submitted && formData.get('barcode')?.hasError('maxlength')">
                                    ป้อนข้อมูลไม่เกิน 10 ตัว
                                </div>
                            </div>
                            <!-- Name --------------------------------------------------------------------------->
                            <div class="col-8">
                                <label class="form-label">ชื่อสินค้า</label>
                                <input type="text" class="form-control" formControlName="productName"
                                    [ngClass]="{'is-invalid': formAdd.submitted && formData.get('productName')?.errors}">
                                <div class="invalid-feedback"
                                    *ngIf="formAdd.submitted && formData.get('productName')?.hasError('required')">
                                    กรุณาป้อนข้อมูล
                                </div>
                                <div class="invalid-feedback"
                                    *ngIf="formAdd.submitted && formData.get('productName')?.hasError('maxlength')">
                                    ป้อนข้อมูลไม่เกิน 100 ตัวอักษร
                                </div>
                            </div>
                            <!-- Type --------------------------------------------------------------------------->
                            <div class="col-4 mt-3">
                                <label class="form-label">ประเภทสินค้า</label>
                                <select class="form-select" formControlName="productTypeId"
                                    [ngClass]="{'is-invalid': formAdd.submitted && formData.get('productTypeId')?.errors}">
                                    <option *ngFor="let typeName of productTypeData"
                                        [value]="typeName.productTypeId">{{typeToDescription(typeName.productTypeId)}}</option>
                                </select>
                                <div class="invalid-feedback"
                                    *ngIf="formAdd.submitted && formData.get('productTypeId')?.hasError('required')">
                                    กรุณาป้อนข้อมูล
                                </div>
                            </div>

                            <!-- Description --------------------------------------------------------------------------->
                            <div class="col-8 mt-3">
                                <label class="form-label">รายละเอียด</label>
                                <input type="text" class="form-control" formControlName="productDescription"
                                    [ngClass]="{'is-invalid': formAdd.submitted && formData.get('productDescription')?.errors}">
                                <div class="invalid-feedback"
                                    *ngIf="formAdd.submitted && formData.get('productDescription')?.hasError('required')">
                                    กรุณาป้อนข้อมูล
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-5 mb-3">
                            <button type="submit" class="btn btn-sm btn-primary me-2 ps-3 pe-3"> บันทึก </button>
                            <button class="btn btn-sm btn-primary me-2 ps-3 pe-3" *ngIf="barcode" (click)="remove()"> ลบ
                            </button>
                            <button class="btn btn-sm btn-primary me-2 ps-3 pe-3"
                                [routerLink]="['/wharehouse/product']">
                                ยกเลิก </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>