<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Menu 1: User -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/user/config">Config</a></li>
                        <li><a class="dropdown-item" routerLink="/user/profile">Profile</a></li>
                    </ul>
                </li>

                <!-- Menu 2: Wharehouse -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Wharehouse
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/wharehouse/store">คลังสินค้า</a></li>
                        <li><a class="dropdown-item" routerLink="/wharehouse/type">ประเภทสินค้า</a></li>
                        <li><a class="dropdown-item" routerLink="/wharehouse/product">สินค้า</a></li>
                        <li><a class="dropdown-item" routerLink="/wharehouse/adjust">จัดการสินค้า</a></li>
                    </ul>
                </li>

                <!-- Menu 3: Address -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Address
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/address/country">ประเทศ</a></li>
                        <li><a class="dropdown-item" routerLink="/address/province">จังหวัด</a></li>
                        <li><a class="dropdown-item" routerLink="/address/district">อำเภอ</a></li>
                        <li><a class="dropdown-item" routerLink="/address/sub_district">ตำบล</a></li>
                        <li><a class="dropdown-item" routerLink="/address/postcode">รหัสไปรษณีย์ </a></li>
                    </ul>
                </li>

                <!-- Menu 4: Student -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/student">Students</a>
                </li>

                <!-- Menu 5: Spring Boot -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        SpringBoot
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/springboot/request-get">Request-GET</a></li>
                        <li><a class="dropdown-item" routerLink="/springboot/province">จังหวัด</a></li>
                        <li><a class="dropdown-item" routerLink="/springboot/district">อำเภอ</a></li>
                        <li><a class="dropdown-item" routerLink="/springboot/sub-district">ตำบล</a></li>
                    </ul>
                </li>

                <!-- Menu 6: Master Data -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Master Data
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/master/province">จังหวัด</a></li>
                        <li><a class="dropdown-item" routerLink="/master/district">อำเภอ</a></li>
                        <li><a class="dropdown-item" routerLink="/master/subdistrict">ตำบล</a></li>
                        <li><a class="dropdown-item" routerLink="/master/postcode">ไปรษณีย์</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-request-get></app-request-get> -->