<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <!-- Card 1 --------------------------------------------------------------------------->
            <div class="card">
                <div class="card-header">
                    <label class="col-form-label">เงื่อนไขการค้นหา</label>
                </div>
                <div class="card-body">
                    <form [formGroup]="formCriteria" (ngSubmit)="search()" #formSearch="ngForm"
                        (change)="adjustFromChange()">
                        <div class="row">
                            <div class="col-2">
                                <label class="col-form-label">สินค้าตั้งต้น</label>
                            </div>
                            <div class="col-4">
                                <select class="form-select" formControlName="adjustFrom"
                                    [ngClass]="{'is-invalid': formSearch.submitted && formCriteria.get('adjustFrom')?.errors}">
                                    <option *ngFor="let adjustFrom of adjustsFrom" [value]="adjustFrom.adjustId">
                                        {{adjustFrom.adjustId}} - {{barcodeToProductName(adjustFrom.barcode)}} (
                                        {{storeIdToStoreName(adjustFrom.storeId)}} )

                                    </option>
                                </select>
                                <div class="invalid-feedback"
                                    *ngIf="formSearch.submitted && formCriteria.get('adjustFrom')?.hasError('required')">
                                    กรุณาเลือก
                                </div>
                            </div>

                            <div class="offset-1 col-1">
                                <label class=" col-form-label">ถึง</label>
                            </div>
                            <div class="col-4">
                                <select class="form-select" formControlName="adjustTo" (change)="adjustToChange()"
                                    [ngClass]="{'is-invalid': formSearch.submitted && formCriteria.get('adjustTo')?.errors}">
                                    <option *ngFor="let adjustTo of adjustsTo" [value]="adjustTo.adjustId">
                                        {{adjustTo.adjustId}} - {{barcodeToProductName(adjustTo.barcode)}}
                                        ( {{storeIdToStoreName(adjustTo.storeId)}} )
                                    </option>
                                </select>
                                <div class="invalid-feedback"
                                    *ngIf="formSearch.submitted && formCriteria.get('adjustTo')?.hasError('required')">
                                    กรุณาเลือก
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-5 mb-3">
                            <button type="submit" class="btn btn-sm btn-primary me-3 ps-4 pe-4"> ค้นหา </button>
                            <button class="btn btn-sm btn-primary me-3 ps-4 pe-4" (click)="clear()"> ล้าง </button>
                            <button class="btn btn-sm btn-primary me-3 ps-4 pe-4"
                                [routerLink]="['/wharehouse/adjust/create']">
                                เพิ่ม </button>
                        </div>
                    </form>

                </div>
            </div>

            <!-- Card 2 --------------------------------------------------------------------------->
            <div class="card mt-5">

                <div class="card-header">
                    <label class="col-form-label">รายการสินค้า</label>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">รหัส</th>
                                <th scope="col">ชื่อสินค้า</th>
                                <th scope="col">คลังจัดเก็บ</th>
                                <th scope="col">จำนวน</th>
                                <th scope="col">สถานะ</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let adjust of adjustsList">
                                <th scope="row">{{adjust.adjustId}}</th>
                                <td>{{barcodeToProductName(adjust.barcode)}}</td>
                                <td>{{storeIdToStoreName(adjust.storeId)}}</td>
                                <td>{{adjust.amount}}</td>
                                <td>{{(adjust.instock == true) ? "เปิด": "ปิด"}}</td>
                                <td><a [routerLink]="['/wharehouse/adjust/edit/' + adjust.adjustId]">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>